In [11]:
import qiskit
from qiskit import transpile
import numpy as np
import pandas as pd
import yfinance as yf
import sys
import os
os.environ["Q_ALCHEMY_API_KEY"] = "JnvkpMCsyr4nB9nHcwa6CbxqhtZXyF1b"
sys.path.append('..')
from q_alchemy.qiskit import QAlchemyInitialize

In [12]:
tickers = ['TSLA', 'GOOGL', 'AMZN', 'AAPL', 'META']
start_date = '2021-01-01'
end_date = '2022-01-01'

data = {}

for ticker in tickers:
    data[ticker] =  yf.download(ticker, start=start_date, end=end_date)

print(data)

[*********************100%%**********************]  1 of 1 completed
[*********************100%%**********************]  1 of 1 completed
[*********************100%%**********************]  1 of 1 completed
[*********************100%%**********************]  1 of 1 completed
[*********************100%%**********************]  1 of 1 completed
{'TSLA':                   Open        High         Low       Close   Adj Close  \
Date
2021-01-04  239.820007  248.163330  239.063339  243.256668  243.256668
2021-01-05  241.220001  246.946671  239.733337  245.036667  245.036667
2021-01-06  252.830002  258.000000  249.699997  251.993332  251.993332
2021-01-07  259.209991  272.329987  258.399994  272.013336  272.013336
2021-01-08  285.333344  294.829987  279.463318  293.339996  293.339996
...                ...         ...         ...         ...         ...
2021-12-27  357.890015  372.333344  356.906677  364.646667  364.646667
2021-12-28  369.829987  373.000000  359.473328  362.823334  362.823334
2021-12-29  366.213318  368.000000  354.713318  362.063324  362.063324
2021-12-30  353.776672  365.183319  351.049988  356.779999  356.779999
2021-12-31  357.813324  360.666656  351.529999  352.260010  352.260010

               Volume
Date
2021-01-04  145914600
2021-01-05   96735600
2021-01-06  134100000
2021-01-07  154496700
2021-01-08  225166500
...               ...
2021-12-27   71145900
2021-12-28   60324000
2021-12-29   56154000
2021-12-30   47040900
2021-12-31   40733700

[252 rows x 6 columns], 'GOOGL':                   Open        High         Low       Close   Adj Close  \
Date
2021-01-04   88.000000   88.124496   85.357002   86.306503   86.306503
2021-01-05   86.254501   87.341499   85.845001   87.002502   87.002502
2021-01-06   85.013000   87.198502   84.805000   86.143997   86.143997
2021-01-07   86.337997   88.890999   86.337997   88.717003   88.717003
2021-01-08   88.858002   89.968002   88.060997   89.891502   89.891502
...                ...         ...         ...         ...         ...
2021-12-27  147.255997  148.343994  147.169495  147.906494  147.906494
2021-12-28  148.235992  148.298996  146.054504  146.686996  146.686996
2021-12-29  146.644501  147.417007  145.647507  146.654999  146.654999
2021-12-30  146.694000  147.300003  145.994507  146.200500  146.200500
2021-12-31  146.050003  146.698502  144.852005  144.852005  144.852005

              Volume
Date
2021-01-04  37324000
2021-01-05  20360000
2021-01-06  46588000
2021-01-07  41936000
2021-01-08  35484000
...              ...
2021-12-27  15976000
2021-12-28  18200000
2021-12-29  17788000
2021-12-30  15688000
2021-12-31  18136000

[252 rows x 6 columns], 'AMZN':                   Open        High         Low       Close   Adj Close  \
Date
2021-01-04  163.500000  163.600006  157.201004  159.331497  159.331497
2021-01-05  158.300507  161.169006  158.253006  160.925507  160.925507
2021-01-06  157.324005  159.875504  156.557999  156.919006  156.919006
2021-01-07  157.850006  160.427002  157.750000  158.108002  158.108002
2021-01-08  159.000000  159.531998  157.110001  159.134995  159.134995
...                ...         ...         ...         ...         ...
2021-12-27  171.037003  172.942993  169.215500  169.669495  169.669495
2021-12-28  170.182495  172.175995  169.135498  170.660995  170.660995
2021-12-29  170.839996  171.212006  168.600494  169.201004  169.201004
2021-12-30  169.699997  170.888000  168.524002  168.644501  168.644501
2021-12-31  168.955994  169.350006  166.558502  166.716995  166.716995

              Volume
Date
2021-01-04  88228000
2021-01-05  53110000
2021-01-06  87896000
2021-01-07  70290000
2021-01-08  70754000
...              ...
2021-12-27  58688000
2021-12-28  54638000
2021-12-29  35754000
2021-12-30  37584000
2021-12-31  47830000

[252 rows x 6 columns], 'AAPL':                   Open        High         Low       Close   Adj Close  \
Date
2021-01-04  133.520004  133.610001  126.760002  129.410004  127.164177
2021-01-05  128.889999  131.740005  128.429993  131.009995  128.736420
2021-01-06  127.720001  131.050003  126.379997  126.599998  124.402908
2021-01-07  128.360001  131.630005  127.860001  130.919998  128.647949
2021-01-08  132.429993  132.630005  130.229996  132.050003  129.758331
...                ...         ...         ...         ...         ...
2021-12-27  177.089996  180.419998  177.070007  180.330002  178.292892
2021-12-28  180.160004  181.330002  178.529999  179.289993  177.264603
2021-12-29  179.330002  180.630005  178.139999  179.380005  177.353622
2021-12-30  179.470001  180.570007  178.089996  178.199997  176.186935
2021-12-31  178.089996  179.229996  177.259995  177.570007  175.564056

               Volume
Date
2021-01-04  143301900
2021-01-05   97664900
2021-01-06  155088000
2021-01-07  109578200
2021-01-08  105158200
...               ...
2021-12-27   74919600
2021-12-28   79144300
2021-12-29   62348900
2021-12-30   59773000
2021-12-31   64062300

[252 rows x 6 columns], 'META':                   Open        High         Low       Close   Adj Close  \
Date
2021-01-04  274.779999  275.000000  265.200012  268.940002  268.940002
2021-01-05  268.290009  272.399994  268.209991  270.970001  270.970001
2021-01-06  262.000000  267.750000  260.010010  263.309998  263.309998
2021-01-07  265.899994  271.609985  264.779999  268.739990  268.739990
2021-01-08  268.309998  268.950012  263.179993  267.570007  267.570007
...                ...         ...         ...         ...         ...
2021-12-27  338.850006  347.869995  338.010010  346.179993  346.179993
2021-12-28  346.630005  352.709991  345.200012  346.220001  346.220001
2021-12-29  346.910004  349.690002  341.640015  342.940002  342.940002
2021-12-30  344.000000  347.230011  343.220001  344.359985  344.359985
2021-12-31  343.019989  343.440002  336.269989  336.350006  336.350006

              Volume
Date
2021-01-04  15106100
2021-01-05   9871600
2021-01-06  24354100
2021-01-07  15789800
2021-01-08  18528300
...              ...
2021-12-27  17795000
2021-12-28  16637600
2021-12-29  10747000
2021-12-30  10593300
2021-12-31  12870500

[252 rows x 6 columns]}

In [14]:
for ticker in tickers:
    data[ticker]['Daily Return'] =  data[ticker]['Adj Close'].pct_change()
    data[ticker] = data[ticker].dropna()

In [15]:
expected_returns = {}
std_deviation = {}

for ticker in tickers:
    expected_returns[ticker] = data[ticker]['Daily Return'].mean()
    std_deviation[ticker] = data[ticker]['Daily Return'].std()
    
print(expected_returns)
print(std_deviation)

{'TSLA': 0.002061082797253658, 'GOOGL': 0.0021812108248734545, 'AMZN': 0.00029514969890108493, 'AAPL': 0.0014094180101045589, 'META': 0.0010642527096604967}
{'TSLA': 0.03450369927285423, 'GOOGL': 0.015311596310057506, 'AMZN': 0.01514458679788764, 'AAPL': 0.01575826098131135, 'META': 0.018632767720898034}

In [33]:
y_raw = [list(data[ticker]['Daily Return'].values) for ticker in tickers]
y_new = list(map(list, zip(*y_raw)))
y_new = np.array(y_new)

t = len(y_new)
n = len(y_new[0])

R = [expected_returns[ticker] for ticker in tickers]
R = np.array(R)

cov_matrix = np.zeros((n, n))

for i in range(t):
    cov_matrix += np.outer((y_new[i]-R), (y_new[i]-R))
cov_matrix = cov_matrix/(t-1)
print(cov_matrix)

[[0.00119051 0.00015751 0.00017421 0.00024896 0.00020076]
 [0.00015751 0.00023444 0.000136   0.0001324  0.00016547]
 [0.00017421 0.000136   0.00022936 0.00014091 0.00014446]
 [0.00024896 0.0001324  0.00014091 0.00024832 0.00014752]
 [0.00020076 0.00016547 0.00014446 0.00014752 0.00034718]]

In [43]:
from datetime import datetime

yesterday = '2023-12-20'
today = '2023-12-21'

today_price = {}

for ticker in tickers:
    data = yf.download(ticker, start=yesterday, end=today)
    today_price[ticker] = float(data['Open'].values)

print(today_price)

[*********************100%%**********************]  1 of 1 completed
[*********************100%%**********************]  1 of 1 completed
[*********************100%%**********************]  1 of 1 completed

[*********************100%%**********************]  1 of 1 completed
[*********************100%%**********************]  1 of 1 completed
{'TSLA': array([256.41000366]), 'GOOGL': array([138.97000122]), 'AMZN': array([152.8999939]), 'AAPL': array([196.8999939]), 'META': array([348.6499939])}